<head>
    <style>
        .my-4 {
            margin-top: 1px !important;
            margin-bottom: 2px !important;
        }

        .container-fluid {
            width: 80%;
            margin-left: 5px;
        }
    </style>
</head>

<body class="container-fluid">
    <div>
        <p><b>Dell Technologies Inc.</b> is an American multinational technology company headquartered in Round Rock,
            Texas.
            It was
            formed as a result of the September 2016 merger of Dell and EMC Corporation.[3] Dell Technologies ranked
            48th on
            the
            2024 Fortune 500 rankings of the largest United States corporations based on its 2023 revenue;[4] its
            products
            include personal computers, servers, monitors, computer software, computer security and network security, as
            well as
            information security services.</p>
    </div>
    <div class="jumbotron">
        <p class="lead" style="margin-bottom: 1px;"><strong>History</strong></p>
        <hr class="my-4">
        <p><b>Founding and start-up</b></p>
        <p>
            Michael Dell founded Dell Computer Corporation, doing business as PC's Limited in 1984 while a student at
            the
            University of Texas at Austin,[15] operating from Michael Dell's off-campus dormitory room at Dobie
            Center.[16]
            The start-up aimed to sell IBM PC compatible computers built from stock components. Michael Dell started
            trading
            in the belief that, by selling personal computer systems directly to customers, PC's Limited could better
            understand customers' needs and provide the most effective computing services to meet those needs.[17] Dell
            dropped out of college upon completion of his freshman year at the University of Texas in order to focus
            full-time on his fledgling business, after getting about $1,000 in expansion-capital from his family.[18] As
            of
            April 2021, Dell's net worth was estimated to be over $50 billion (equivalent to $55,470,000,000 in 2023).
        </p>
    </div>
</body>
<!-- 1px solid -->