<head>
    <style>
        .container-fluid {
            padding: 30px;
            /* margin-left: 5px; */
            padding-right: 45px;
        }
    </style>
</head>

<body class="container-fluid">
    <!-- <div class="alert alert-dismissible alert-warning m-2">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent
        commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
    </div> -->
    <div class="d-flex flex-row">
        <div class="card border-primary mb-3 col-3" style="max-width: 20rem; margin-right: 5px;">
            <div class="card-header">Vostro 14 Laptop</div>
            <div class="card-body">
                <h4 class="card-title">Key Features</h4>
                
                <ul class="card-text">
                    <li>Portable efficiency</li>
                    <li>Designed for productivity with built-in security</li>
                    <li>Fast charging with ExpressCharge or ExpressCharge Boost</li>
                </ul>
                
            </div>
        </div>
        <div class="card border-secondary mb-3 col-3" style="max-width: 20rem; margin-right: 5px;">
            <div class="card-header">Inspiron 15 Laptop</div>
            <div class="card-body">
                <h4 class="card-title">Key Features</h4>
                <ul class="card-text">
                    <li>Fast charging with ExpressCharge™</li>
                    <li>Optimised eye comfort with ComfortView</li>
                    <li>Full size keyboard with a numeric keypad</li>
                </ul>
                
            </div>
        </div>
        <div class="card border-success mb-3 col-3" style="max-width: 20rem; margin-right: 5px;">
            <div class="card-header">Inspiron 14 Laptop</div>
            <div class="card-body">
                <h4 class="card-title">Key Features</h4>
                <p class="card-text">
                <ul class="card-text">
                    <li>Portable efficiency</li>
                    <li>Designed for productivity with built-in security</li>
                    <li>Dolby Atmos®</li>
                </ul>
                
            </div>
        </div>
        <div class="card border-danger mb-3 col-3" style="max-width: 20rem;">
            <div class="card-header">Vostro 15 Laptop</div>
            <div class="card-body">
                <h4 class="card-title">Key Features</h4>
                <p class="card-text">
                <ul class="card-text">
                    <li>Fast charging with ExpressCharge</li>
                    <li>Designed for productivity with built-in security</li>
                    <li>Full-size keyboard with numeric keypad</li>
                </ul>
                
            </div>
        </div>
    </div>

    <div class="d-flex flex-row">
        <div class="card border-warning mb-3 col-3" style="max-width: 20rem; margin-right: 5px;">
            <div class="card-header">Vostro 3520 Laptop</div>
            <div class="card-body">
                <h4 class="card-title">Key Features</h4>
                <p class="card-text">
                <ul class="card-text">
                    <li>Built-in hardware security chip</li>
                    <li>Spill-resistant keyboard with numeric keypad</li>
                    <li>Connect to Ethernet through RJ-45</li>
                </ul>
                
            </div>
        </div>
        <div class="card border-info mb-3 col-3" style="max-width: 20rem; margin-right: 5px;">
            <div class="card-header">Inspiron 14 plus Laptop</div>
            <div class="card-body">
                <h4 class="card-title">Key Features</h4>
                <p class="card-text">
                <ul class="card-text">
                    <li>AI-enabled video chat features</li>
                    <li>Up to 90Hz refresh rate on 2.8K Display</li>
                    <li>Dolby Atmos® and Dolby Vision™</li>
                </ul>
                
            </div>
        </div>
        <div class="card border-primary mb-3 col-3" style="max-width: 20rem; margin-right: 5px;">
            <div class="card-header">Vostro 16 Laptop</div>
            <div class="card-body">
                <h4 class="card-title">Key Features</h4>
                <p class="card-text">
                <ul class="card-text">
                    <li>Built-in hardware security chip</li>
                    <li>Backlit keyboard with numeric keypad</li>
                    <li>Fast charging with ExpressCharge™</li>
                </ul>
                
            </div>
        </div>
        <div class="card border-dark mb-3 col-3" style="max-width: 20rem;">
            <div class="card-header">Latitude 5450 Laptop</div>
            <div class="card-body">
                <h4 class="card-title">Key Features</h4>
                <p class="card-text">
                <ul class="card-text">
                    <li>Smallest mainstream 14" PC with built-in AI</li>
                    <li>Look your best on conference calls with HDR webcam technology</li>
                    <li>Up to 18% longer battery life on average than the previous generation.</li>
                </ul>
                
            </div>
        </div>
    </div>
</body>